@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ff6b00;
  --primary-hover: #ff8c33;
  --secondary: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #F67421;
    --primary-hover: #ff8c33;
    --secondary: #000000;
  }
}

/* Hide scrollbar for all elements */
/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

/* For IE, Edge, and standard CSS */
* {
  -ms-overflow-style: none;
}

body {
  background: var(--background);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll; /* Maintain scrolling functionality */
}

/* Custom styles for RiteWat */
.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.border-primary {
  border-color: var(--primary);
}

/* Add padding to account for fixed header */
main {
  padding-top: 80px;
}
